extends ./layouts/main.pug

block content
  h1 My Loans
  table.table.table-striped
    thead
      tr
        th &nbsp;
        th ID
        th Age
        th Accurred Interest
        th Credit Trend
        th Principle Left
        th Interest Accumulated
        th Grade
        th Rate
    tbody
      each note in notes
        tr
          td
            input(type="checkbox")
          td
            a(
              href="https://www.lendingclub.com/account/loanPerf.action?loan_id=70612164&order_id=" + note.orderId + "&note_id=" +note.id
              target="_blank"
            )
              = note.id
          td= note.age
          td= note.accruedInterest
          td= note.creditTrend
          td= note.principle
          td= note.interestAccumulated
          td= note.grade
          td= note.intRate
