extends ./layouts/main.pug

block content
  style.
    ul {
      margin: 0; padding: 0;
      list-style-type: none;
    }

    input[type="checkbox"], select.form-control {
      margin-right: 0.5em !important;
    }

    form {
      margin-bottom: 1em;
    }

  form.form-inline(method="get")
    div.form-group
      select.form-control.filter-type(name="filter-type")
        option(value="all") All
        option(value="credible") Credible
        option(value="investor-happy") Investor Happy
    div.form-group
      input.form-control.btn-primary(type="submit", value="Find!")

  table.table.table-striped
    thead
      tr
        th ID
        th Rate
        th Loan Amount
        th Debt Amount
        th Monthly Payment
        th Monthly Income
        th Verified Income?
        th Mortgage Amount
        th Debt Ratio
        th Collections?
        th Job Title
        th Years Employed
        th First Credit Line
        th Credit Score
        th Grade
    tbody
      each loan in loans
        tr
          td
            input(type="checkbox")
            a(href="https://www.lendingclub.com/browse/loanDetail.action?loan_id=" +loan.id + "&previous=browse", target="_blank")= loan.id
          td= loan.intRate
          td= loan.loanAmount
          td= loan.revolBal
          td= loan.installment
          td= '$' + (loan.annualInc / 12).toFixed(2).replace(/./g, (c, i, a) => i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c)
          td= loan.isIncV
          td= loan.mortAcc
          td= loan.dti
          td= loan.totCollAmt
          td= loan.empTitle
          td= (loan.empLength / 12) + ' Years, ' + (loan.empLength % 12) + ' Months'
          td= moment(loan.earliestCrLine).fromNow()
          td= loan.ficoRangeLow + ' - ' + loan.ficoRangeHigh
          td= loan.grade
